
<!-- https://codepen.io/geoffyuen/pen/FCBEg -->

<!DOCTYPE html>
<html>
<head>
<!-- Meta to look good on mobile  -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


<style>
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  width: 93vw;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

  .rwd-table td:before {
    display: none;
  }

.rwd-table th, .rwd-table td {
  text-align: left;
}

  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }


body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}

  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }

.rwd-table th, .rwd-table td:before {
  color: #dd5;
}


#download:hover {
  color: lightblue;
  cursor: pointer;
}

#delete:hover {
  color: #ff7675;
  cursor: pointer;
}

.min {
  min-width: 90px;
}

right {
  float: right;
}
</style>
</head>




<body>

	<h1>Files List</h1>
	<table class="rwd-table">
	<tr>
		<th>File Name</th>
		<th class="min">Size</th>
		<th><i class="fas fa-cloud-download-alt"></i></th>
		<th><i class="fas fa-trash"></i></th>
	</tr>
<% files.forEach((file)=>{ %>
	<tr>
		<td><%= file.name %></td>
		<td>
      <span> <%= file.size[1] %></span>
      <right><%= file.size[2] %></right>
    </td>
    <td><i id="download" class="fas fa-chevron-circle-down" onclick="window.open('/<%=file.name%>','_self')" ></i></td>
    <td><i id="delete" class="fas fa-times" onclick="window.open('/delete/<%=file.name%>','_self')"></i></td>
	</tr>
<% }) %>
	</table>

</body>
</html>
